body {
    background-color: #f5f5ff;
    padding: 2rem;
    font-family: 'Playfair Display', serif;
}
.pinkLetters {
    color: #ff3a5e;
  }
.gridContainer{
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 2 columns */
    grid-template-rows: repeat(2, 1fr);    /* 3 rows */
    gap: 10px;                             /* Adjust the gap between grid items */
    padding: 20px;         /* Optional padding for the entire grid */
  }
.nav ul li{
text-align: right;
list-style: none;
line-height: 2rem;
/* text-align: center; */
left: 8rem;
}

.figure h2 {
    text-align: right;
}
.figure img{
display: block;
margin-left: auto;
margin-right: auto;
width:50%;
}

.figure{
    background-color: #22222B;
    color: white;
    border-radius: 20px;
    margin: 15px;
    padding: 1.5rem;
}

.prjctsContainer{
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 2 columns */
    grid-template-rows: repeat(1, 1fr); 
    gap: 10px;                             /* Adjust the gap between grid items */
    padding: 20px;
}
.footerContainer{
    position: relative;
}
.footerInfo{
    position: absolute;
    /* text-align: right; */
    line-height: 0.25%;
    bottom:0;
    right: 0;
}

.backToTop{
    text-align: center;
}

/* MY Works Page */
.nav2 ul li{
    text-align: right;
    list-style: none;
    line-height: 2rem;
    /* text-align: center; */
    /* left: 8rem; */
}
.nav2{
    width:20%;
}

.flexContainer{
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 10px;
}
.space h2{
    position: absolute;
    bottom:0;
}
.uoft{
    display:flex;
    justify-content: center;
    align-items: center;
    line-height: 90%;
    padding-top: 20px;
    padding-bottom: 50px;
    /* border-radius: 20px; */
}
#removeme{
    list-style: none;
}
.seneca{
    /* border-radius: 20px; */
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 90%;


}
.mySkills{
    border-radius: 20px;
    line-height: 2rem;
    background-color: #22222B;
    color: white;
    margin: 20px; 
    padding: 1.5rem;
    width: 40%;
    /* height: 70%; */

}
.myExperience{
    border-radius: 20px;
    background-color: #22222B;
    color: white;
    margin: 20px; 
    padding: 1.5rem;
    width: 40%;
    /* height: 50%; */
}

.space{
    width:20%
}
.myExperience img{
    width: 30%;
    height: 30%;


}

.heading{
    display: flex;
}
.ftrdWrkContainer1{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;                             /* Adjust the gap between grid items */
    padding: 20px;
}
.footer{
    position: relative;
}
.footerInfo1{
    /* position: absolute; */
    text-align: right;
    line-height: 0.25%;
    bottom:0;
    right: 0;
}
@media only screen and (max-width: 768px) {
    body{
      font-size: 14px;
      background-color: #ff3a5e;
    
    }
    /* div{
      width:100%;
      margin-bottom: 20px;
      align-items: center;
    } */ 
    .gridContainer{
        grid-template-columns: 1fr;

    }
}